language: objective-c
rvm:
- 2.2
before_install:
- chmod a+x ./Scripts/install.sh
- chmod a+x ./Scripts/build.sh
install:
- "./Scripts/install.sh"
script:
- "./Scripts/build.sh"
before_deploy:
- git config --local user.name "imann24"
- git config --local user.email "isaiahbmann@gmail.com"
- git tag "$(git rev-parse --short HEAD)-$(date '+%F-%H%M')"
deploy:
  provider: releases
  api_key:
    secure: L4k4TfRWZcRJrkYsnjS8chQmTgnqGf+JmR3vG2a80FUKK9A7ffp/X47tBl4T9YoGLlt4LCfDKg/INvSu45wCS3Tx/DaOSwptJe991+rDVshKDkVWC19r1ISvoLN2E7A85LfcOYtxu2EomVj8eO5kMXlLpLWDviJUx70H4Pi7vwswamTs5T/jbnUCflv6SCJomkGeQ2tmrUN0Ggd8G+K7TrZbX6KEXFEzuDejaszgsdruJumjiQcF7qmK82/OkIOk/FZ3/0WXsmureFDkQ5eMAatRHVbqzt6qUSgoEY/V4sTjAav+AkXFo4oaH4tyVNjKHOPCWrlofQeldT/tbjTuHLIm+XwXbMYmdlHkmh2sO7zgOoGlsYWecxai1gLYIS76GLY2k/PPb/1wrorV/ovDUtwrXUhE7ovYK9GC6uPibFtaQEE2TUro79cXn8K3D5UpTBHsxffX6Or6BTaIkMA+e7w+jz2pyfBLVWYqD1aI2YKb2q6srpKKptBwJxNVCeva9r8Qr6lXfyWiSiWKgJaoHczV8Dh4XJWpbkBktZtxCw1oeh0y2GXBe+k9Nhv88wqxG2CTLpsVl9VwDsNaoYaCkLha/OZXAQn8yRA91K9Z1lW8g47S/HW/Ve9zdDkIwI2EXRvJfScl/tYT9QyP6wmZLEQIRK/Qzg1lxSbBe0FZG2c=
  file:
       - "Build/$MAC_BUILD"
       - "Build/$LINUX_BUILD"
       - "Build/$WINDOWS_BUILD"
  on:
    repo: good-boys/the-good-game
    all_branches: true
